extends ../../layout

block content
  div(class='col-md-6')
    form(id='shop-add-form' name='shop-delete-form' class='form-horizontal' method="POST" action='')
      input(id='id' type="hidden" name='id' value=shop.id class='form-control')
      div(class='form-group')
        div(class='col-md-12') id - #{shop.id}
        div(class='col-md-12') name - #{shop.name}
        div(class='col-md-12') address - #{shop.address}
        div(class='col-md-12') capacity - #{shop.capacity}
      div(class='form-group')
        div(class='col-md-12')
          button(type='submit' class='btn btn-primary') Delete